<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{newResidents}}</h3>
                        <h6 class="text-muted m-0">New Residents</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                            <mat-icon>local_mall</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{total_services}}</h3>
                        <h6 class="text-muted m-0"># of Tasks This Week</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                            <mat-icon>stars</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{todaysServices}}</h3>
                        <h6 class="text-muted m-0">Today’s Tasks</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
                            <mat-icon>content_paste</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{outStandingServices}}</h3>
                        <h6 class="text-muted m-0">Outstanding Tasks</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Charts -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card class="home-table">
        <mat-card-content>
          <mat-card-title>Tasks Overview</mat-card-title>

          <div class="responsive-table">
            <mat-table #table [dataSource]="dataSource" class="contactlist">
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="header-label">name:</span>
                  <img src="{{element.profile_picture_url}}" class="img-circle m-r-10" width="30" />
                  <h5 class="m-0">{{element.first_name}} {{element.last_name}}</h5>
                </mat-cell>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef class="m-w-250"> Email </mat-header-cell>
                <mat-cell *matCellDef="let element" class="m-w-250">
                  <span class="header-label">Email:</span>
                  {{element.email}}
                </mat-cell>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="designation">
                <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span class="header-label">Post:</span>
                  {{element.phone}}
                </mat-cell>
              </ng-container>


               <!-- Symbol Column -->
               <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="material-icons m-r-10 cursor-p" >edit</span>
                    <span class="material-icons cursor-p c-red" >delete_forever</span>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
          <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10]">
          </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <mat-card-title>New Downloads</mat-card-title>
          <div id="chart" style="max-width: 486px;">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                       [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                       [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                       [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [xaxis]="chartOptions.xaxis"
                       [grid]="chartOptions.grid">
            </apx-chart>
          </div>
          <!-- <div class="barchrt" style="height:360px;">
              <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options"
                  [responsiveOptions]="barChart1.responsiveOptions" [events]="barChart1.events"> </x-chartist>
          </div> -->
 <!--         <ul class="list-inline text-center">
            <li>
              <h6 class="text-muted text-info m-0">
                <i class="fa fa-circle font-10 m-r-10 "></i>Ample</h6>
            </li>
            <li>
              <h6 class="text-muted  text-success  m-0">
                <i class="fa fa-circle font-10 m-r-10"></i>Pixel</h6>
            </li>
          </ul>-->
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Column-->
</div>
<!-- ============================================================== -->
<!-- Chart boxes -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-info">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Total Residents</h3>
                        <h6 class="text-white m-t-0"> </h6>
                        <h1 class="text-white m-0">{{totalResident}}</h1>
                    </div>
                    <div class="ml-auto" style="height: 84px; width: 100px">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-purple">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Total Properties</h3>
                      <h6 class="text-white m-t-0"> </h6>
                        <h1 class="text-white m-0">{{totalProperties}}</h1>
                    </div>
                    <div class="ml-auto" style="height: 84px; width: 100px">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-success min-height-150">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Services</h3>
                        <h6 class="text-white m-t-0"></h6>
                        <h1 class="text-white m-0"></h1>
                    </div>
                    <div class="ml-auto" style="height: 84px; width: 100px">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->

    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->
<!--<div fxLayout="row wrap">
    &lt;!&ndash; Column&ndash;&gt;
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh">
            <img mat-card-image src="assets/images/big/img1.jpg" style="max-height: 300px;" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A
                    small, agile dog that copes
                    very well with mountainous terrain
                </p>
                <mat-card-actions>
                    <button mat-raised-button color="accent">LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    &lt;!&ndash; Column&ndash;&gt;
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Newsletter Campaign</mat-card-title>
                <mat-card-subtitle>Overview of Newsletter Campaign</mat-card-subtitle>
                <div id="newsletter-chart">
                    <apx-chart [series]="newsletterchartOptions.series" [chart]="newsletterchartOptions.chart"
                        [xaxis]="newsletterchartOptions.xaxis" [stroke]="newsletterchartOptions.stroke"
                        [tooltip]="newsletterchartOptions.tooltip" [dataLabels]="newsletterchartOptions.dataLabels"
                        [legend]="newsletterchartOptions.legend" [colors]="newsletterchartOptions.colors"
                        [markers]="newsletterchartOptions.markers">
                    </apx-chart>
                </div>
                &lt;!&ndash; <div class="linearea" style="height:360px;">
                    <x-chartist class="" [data]="lineChart1.data" [type]="lineChart1.type"
                        [options]="lineChart1.options" [responsiveOptions]="lineChart1.responsiveOptions"
                        [events]="lineChart1.events"> </x-chartist>
                </div> &ndash;&gt;
                <ul class="list-inline text-center p-t-10">
                    <li>
                        <h6 class="text-muted text-info m-0">
                            <i class="fa fa-circle font-10 m-r-10 "></i>Sent</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-success  m-0">
                            <i class="fa fa-circle font-10 m-r-10"></i>Clicked</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>

</div>-->
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<!--<div fxLayout="row wrap">
    &lt;!&ndash; Card column &ndash;&gt;
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh text-center little-profile">
            <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="pro-img">
                    <img src="assets/images/users/4.jpg" width="100" alt="user">
                </div>
                <h3 class="m-b-0">Angela Dominic</h3>
                <h6 class="m-t-0 ">Web Designer &amp; Developer</h6>
                <mat-card-actions>
                    <button mat-raised-button color="warn">Follow</button>
                </mat-card-actions>
                <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">1099</h3>
                        <small>Articles</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">23,469</h3>
                        <small>Followers</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">6035</h3>
                        <small>Likes</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    &lt;!&ndash; Card column &ndash;&gt;
    &lt;!&ndash; Card column &ndash;&gt;
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-tab-group>
                &lt;!&ndash; Tab 1 &ndash;&gt;
                <mat-tab label="Activity">
                    <mat-card-content>
                        <div class="d-flex no-blcok" *ngFor="let mytimeline of mytimelines">
                            <div class="m-r-20">
                                <img class="img-circle" width="50" [src]="mytimeline.image"
                                    alt="Image of {{mytimeline.from}}"> </div>
                            <div class="m-b-30 w-100">
                                <h4 class="m-0">{{mytimeline.from}}
                                    <small class="text-muted">{{mytimeline.time}}</small>
                                </h4>
                                <p class="text-muted">{{mytimeline.content}}</p>
                                <div fxLayout="row wrap">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" [src]="mytimeline.attachment"
                                            *ngIf="mytimeline.attachment" alt="Image of {{mytimeline.attachment}}">
                                    </div>
                                </div>
                                <button mat-raised-button color="{{mytimeline.buttons}}"
                                    *ngIf="mytimeline.buttons">Check Now</button>
                                <hr class="m-t-30" />
                            </div>
                        </div>

                    </mat-card-content>
                </mat-tab>
                &lt;!&ndash; End Tab 1 &ndash;&gt;
                &lt;!&ndash; Tab 2 &ndash;&gt;
                <mat-tab label="Profile">
                    <mat-card-content>
                        <mat-card-title>Form Basic Layouts</mat-card-title>
                        &lt;!&ndash; ============================================================== &ndash;&gt;
                        &lt;!&ndash; column &ndash;&gt;
                        &lt;!&ndash; ============================================================== &ndash;&gt;
                        <form class="basic-form">
                            <div fxLayout="row wrap">
                                &lt;!&ndash; column &ndash;&gt;
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Some text value">
                                    </mat-form-field>
                                </div>
                                &lt;!&ndash; column &ndash;&gt;
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="EmailId" type="email">
                                    </mat-form-field>
                                </div>
                                &lt;!&ndash; column &ndash;&gt;
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Password" type="password">
                                    </mat-form-field>
                                </div>

                                &lt;!&ndash; column &ndash;&gt;
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <mat-select placeholder="Select">
                                            <mat-option value="option">Option</mat-option>
                                            <mat-option value="option">Option2</mat-option>
                                            <mat-option value="option">Option3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                &lt;!&ndash; column &ndash;&gt;
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Textarea"></textarea>
                                    </mat-form-field>
                                </div>
                                &lt;!&ndash; column &ndash;&gt;
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <button mat-raised-button color="primary">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>-->
