<!--
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="card-title mb-0 text-white">Update User Profile</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-{{ alert.type }}" role="alert" *ngIf="alert">
                    {{ alert.message }}
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <form #form="ngForm" (ngSubmit)="onSubmit()">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">First name:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="First name" name="first_name" required [ngModel]="user.first_name" #userfirstname="ngModel"/>
                                    <span class="help-desk" *ngIf="userfirstname.invalid && userfirstname.touched" style="color: #E74C3C;" >Please enter your first name.</span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Last name:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Last name" name="last_name" required [ngModel]="user.last_name"  #userlastname="ngModel"/>
                                    <span class="help-desk" *ngIf="userlastname.invalid && userlastname.touched" style="color: #E74C3C;" >Please enter your last name.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Birthday:</label>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" placeholder="Birthday" name="birthday" required [ngModel]="user.birthday" #userbirthday="ngModel"/>
                                    <span class="help-desk" *ngIf="userbirthday.invalid && userbirthday.touched" style="color: #E74C3C;" >Please enter your birthday.</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-sm-4">Street name:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Street name" name="street_name" required [ngModel]="user.street_name" #userstarteetname="ngModel"/>
                                    <span class="help-desk" *ngIf="userstarteetname.invalid && userstarteetname.touched" style="color: #E74C3C;" >Please enter your last name.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Unit number:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Unit number" name="unit_number" required [ngModel]="user.unit_number" #userunitnumber="ngModel"/>
                                    <span class="help-desk" *ngIf="userunitnumber.invalid && userunitnumber.touched" style="color: #E74C3C;" >Please enter your unit number.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">City:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="City" name="city" required [ngModel]="user.city" #usercity="ngModel"/>
                                    <span class="help-desk" *ngIf="usercity.invalid && usercity.touched" style="color: #E74C3C;" >Please enter your city.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">State:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="State" name="state" required [ngModel]="user.state" #userstate="ngModel"/>
                                    <span class="help-desk" *ngIf="userstate.invalid && userstate.touched" style="color: #E74C3C;" >Please enter your state.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Zip:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Zip" name="zip_code" required [ngModel]="user.zip_code" #userzip="ngModel"/>
                                    <span class="help-desk" *ngIf="userzip.invalid && userzip.touched" style="color: #E74C3C;" >Please enter your zip.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Any Pets:</label>
                                <div class="col-sm-1">
                                    <label class="container">
                                        <input type="checkbox" class="form-control" placeholder="Any Pets" name="any_pets" [ngModel]="user.any_pets" #useranypets="ngModel" [checked]="user.any_pets"/>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Emergency contact first name:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Emergency contact first name" name="emergency_contact_first_name" required [ngModel]="user.emergency_contact_first_name" #useremergency_contact_first_name="ngModel"/>
                                    <span class="help-desk" *ngIf="useremergency_contact_first_name.invalid && useremergency_contact_first_name.touched" style="color: #E74C3C;" >Please enter your emergency contact first name.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Emergency contact last name:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Emergency contact last name" name="emergency_contact_last_name" required [ngModel]="user.emergency_contact_last_name" #useremergency_contact_last_name="ngModel"/>
                                    <span class="help-desk" *ngIf="useremergency_contact_last_name.invalid && useremergency_contact_last_name.touched" style="color: #E74C3C;" >Please enter your emergency contact last name.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Emergency contact phone no:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Emergency contact phone number" name="emergency_contact_phone_number" required [ngModel]="user.emergency_contact_phone_number" #useremergency_contact_phone_number="ngModel"/>
                                    <span class="help-desk" *ngIf="useremergency_contact_phone_number.invalid && useremergency_contact_phone_number.touched" style="color: #E74C3C;" >Please enter your emergency contact phone number.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Emergency contact relation:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Emergency contact relationship" name="emergency_contact_relationship" required [ngModel]="user.emergency_contact_relationship" #useremergency_contact_relationship="ngModel"/>
                                    <span class="help-desk" *ngIf="useremergency_contact_relationship.invalid && useremergency_contact_relationship.touched" style="color: #E74C3C;" >Please enter your emergency contact relationship.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Mates:</label>
                                <div class="col-sm-1">
                                    <label class="container">
                                        <input type="checkbox" class="form-control" placeholder="mates" name="mates" required [ngModel]="user.mates" #usermates="ngModel" [checked]="user.mates"/>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Favorite holiday:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Favorite holiday" name="favorite_holiday" required [ngModel]="user.favorite_holiday" #usefavorite_holiday="ngModel"/>
                                    <span class="help-desk" *ngIf="usefavorite_holiday.invalid && usefavorite_holiday.touched" style="color: #E74C3C;" >Please enter your favorite holiday.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Favorite candy:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Favorite candy" name="favorite_candy" required [ngModel]="user.favorite_candy" #usefavorite_candy="ngModel"/>
                                    <span class="help-desk" *ngIf="usefavorite_candy.invalid && usefavorite_candy.touched" style="color: #E74C3C;" >Please enter your favorite candy.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Favorite cookie:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Favorite cookie" name="favorite_cookie" required [ngModel]="user.favorite_cookie" #usefavorite_cookie="ngModel"/>
                                    <span class="help-desk" *ngIf="usefavorite_cookie.invalid && usefavorite_cookie.touched" style="color: #E74C3C;" >Please enter your favorite cookie.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Favorite beer wine:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Favorite beer wine" name="favorite_beer_wine" required [ngModel]="user.favorite_beer_wine" #usefavorite_beer_wine="ngModel"/>
                                    <span class="help-desk" *ngIf="usefavorite_beer_wine.invalid && usefavorite_beer_wine.touched" style="color: #E74C3C;" >Please enter your favorite beer wine.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Hobbies:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Hobbies" name="hobbies" required [ngModel]="user.hobbies" #usehobbies="ngModel"/>
                                    <span class="help-desk" *ngIf="usehobbies.invalid && usehobbies.touched" style="color: #E74C3C;" >Please enter your hobbies.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Favorite sport:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Favorite sport" name="favorite_sport" required [ngModel]="user.favorite_sport" #usefavorite_sport="ngModel"/>
                                    <span class="help-desk" *ngIf="usefavorite_sport.invalid && usefavorite_sport.touched" style="color: #E74C3C;" >Please enter your favorite sport.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Other information:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Other information" name="other_information" required [ngModel]="user.other_information" #useother_information="ngModel"/>
                                    <span class="help-desk" *ngIf="useother_information.invalid && useother_information.touched" style="color: #E74C3C;" >Please enter your other information.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Notes:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Notes" name="notes" required [ngModel]="user.notes" #usenotes="ngModel"/>
                                    <span class="help-desk" *ngIf="usenotes.invalid && usenotes.touched" style="color: #E74C3C;" >Please enter your notes.</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-2"><button type="submit" class="btn btn-default submit">Update</button>
                                </div>
                                <div class="col-md-2">
                                    <app-my-loader [show]="showLoader"></app-my-loader>
                                </div>

                                <div class="col-md-6"><span class="help-desk" *ngIf="isError" style="color: #E74C3C;" >Error occured while saving the profile.</span></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User Profiles</h4>
                <h6 class="card-subtitle">All Profiles Detail</h6>
                <ngb-tabset>
                    <ngb-tab title="Pet Profile">
                        <ng-template ngbTabContent>
                            <div class="row" *ngIf="petProfiles.name; else showmMsg">
                                &lt;!&ndash;                                <div class="col-sm-12">&ndash;&gt;
                                &lt;!&ndash;                                    <br>&ndash;&gt;
                                &lt;!&ndash;                                    <img class="img-responsive"  src="{{petProfiles.profile_picture_url}}"/>&ndash;&gt;
                                &lt;!&ndash;                                </div>&ndash;&gt;
                                <div class="col-sm-6">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-4">Name :</span>
                                        <span class="col-sm-8">{{petProfiles.name}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Age :</span>
                                        <span class="col-sm-8">{{petProfiles.age}}</span>
                                    </div>

                                    <div class="row">
                                        <span class="col-sm-4"> Pet Type :</span>
                                        <span class="col-sm-8">{{petProfiles.pet_type}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Breed :</span>
                                        <span class="col-sm-8">{{petProfiles.breed}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Size :</span>
                                        <span class="col-sm-8">{{petProfiles.size}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4"> Pet Type :</span>
                                        <span class="col-sm-8">{{petProfiles.pet_type}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <div class="row">
                                        <span class="col-sm-4">Gender :</span>
                                        <span class="col-sm-8">{{petProfiles.gender}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Pet Color :</span>
                                        <span class="col-sm-8">{{petProfiles.pet_color}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Other Information :</span>
                                        <span class="col-sm-8">{{petProfiles.other_information}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Service Enable :</span>
                                        <span class="col-sm-8">{{petProfiles.service_enable}}</span>
                                    </div>

                                    <div class="row">
                                        <span class="col-sm-4">Created At :</span>
                                        <span class="col-sm-8">{{petProfiles.created_at.substring(0, 10)}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Last Updated :</span>
                                        <span class="col-sm-8">{{(petProfiles.last_updated) ? petProfiles.last_updated.substring(0, 10) : '-' }}</span>
                                    </div>

                                </div>
                            </div>
                            <ng-template #showmMsg><br>No Pet Profile Found!</ng-template>

                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="House Keeping">
                        <ng-template ngbTabContent>
                            <div class="row" *ngIf="houseKeeping.number_of_bedrooms; else showmMsg">
                                <div class="col-sm-6">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-4">No. Of Bedrooms :</span>
                                        <span class="col-sm-8">{{houseKeeping.number_of_bedrooms}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">No. Of Bathrooms :</span>
                                        <span class="col-sm-8">{{houseKeeping.number_of_bathrooms}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4"> Square Footage :</span>
                                        <span class="col-sm-8">{{houseKeeping.square_footage}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Cleaning Supplies :</span>
                                        <span class="col-sm-8">{{houseKeeping.cleaning_supplies}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Housekeeping Preferences :</span>
                                        <span class="col-sm-8">{{houseKeeping.housekeeping_preferences}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Reminder :</span>
                                        <span class="col-sm-8">{{houseKeeping.reminder}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <div class="row">
                                        <span class="col-sm-4">Notes :</span>
                                        <span class="col-sm-8">{{houseKeeping.notes}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Service Enable :</span>
                                        <span class="col-sm-8">{{houseKeeping.service_enable}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Service Completed:</span>
                                        <span class="col-sm-8">{{houseKeeping.service_completed}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Service Type Id :</span>
                                        <span class="col-sm-8">{{houseKeeping.service_type_id}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Created At:</span>
                                        <span class="col-sm-8">{{houseKeeping.created_at.substring(0, 10)}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Last Updated :</span>
                                        <span class="col-sm-8">{{(houseKeeping.last_updated) ? houseKeeping.last_updated.substring(0, 10) : '-'}}</span>
                                    </div>
                                </div>
                            </div>
                            <ng-template #showmMsg><br>No House Keeping Profile Found!</ng-template>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="RX Pickup">
                        <ng-template ngbTabContent>
                            <div class="row" *ngIf="rxPickup.prefered_pharmacy_name; else showmMsg">
                                <div class="col-sm-6">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-4">PP Name:</span>
                                        <span class="col-sm-8">{{rxPickup.prefered_pharmacy_name}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Street Name :</span>
                                        <span class="col-sm-8">{{rxPickup.street_name}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4"> City :</span>
                                        <span class="col-sm-8">{{rxPickup.city}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">State :</span>
                                        <span class="col-sm-8">{{rxPickup.state}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Zip Code :</span>
                                        <span class="col-sm-8">{{rxPickup.zip_code}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Phone Number :</span>
                                        <span class="col-sm-8">{{rxPickup.phone_number}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Medication :</span>
                                        <span class="col-sm-8">{{rxPickup.medication}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br>
                                    <div class="row">
                                        <span class="col-sm-4">Insurance :</span>
                                        <span class="col-sm-8">{{rxPickup.insurance}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Other Instructions :</span>
                                        <span class="col-sm-8">{{rxPickup.other_instructions}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Notes:</span>
                                        <span class="col-sm-8">{{rxPickup.notes}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Service Enable:</span>
                                        <span class="col-sm-8">{{rxPickup.service_enable}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Service Type Id :</span>
                                        <span class="col-sm-8">{{rxPickup.service_type_id}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Created At:</span>
                                        <span class="col-sm-8">{{rxPickup.created_at.substring(0, 10)}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Last Updated :</span>
                                        <span class="col-sm-8">{{rxPickup.last_updated.substring(0, 10)}}</span>
                                    </div>
                                </div>
                            </div>
                            <ng-template #showmMsg><br>No RX Pickup Profile Found!</ng-template>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Grocery Shoping">
                        <ng-template ngbTabContent>
                            <div class="row" *ngIf="groceryShoping.organic_items; else showmMsg">
                                <div class="col-sm-6">
                                    <br>
                                    <div class="row ">
                                        <span class="col-sm-4">Organic Items:</span>
                                        <span class="col-sm-8">{{groceryShoping.organic_items}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Food Allergies:</span>
                                        <span class="col-sm-8">{{groceryShoping.food_allergies}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4"> Restrictions :</span>
                                        <span class="col-sm-8">{{groceryShoping.restrictions}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Prefered Brands :</span>
                                        <span class="col-sm-8">{{groceryShoping.prefered_brands}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Not Prefered Brands:</span>
                                        <span class="col-sm-8">{{groceryShoping.not_prefered_brands}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Other Specifications:</span>
                                        <span class="col-sm-8">{{groceryShoping.other_grocery_specifications}}</span>
                                    </div>
                                </div>
                               &lt;!&ndash; <div class="col-sm-12">
                                    <div class="row">
                                        <span class="col-sm-4">Prefered Brand Photos:</span>
                                        <img *ngFor="let pBrandphoto of groceryShoping.prefered_brand_photos" src="{{pBrandphoto}}" width="75"/>
                                    </div>
                                </div>&ndash;&gt;
                                <div class="col-md-6">
                                    <br>
                                    <div class="row">
                                        <span class="col-sm-4">Service Completed:</span>
                                        <span class="col-sm-8">{{groceryShoping.service_completed}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Notes:</span>
                                        <span class="col-sm-8">{{groceryShoping.notes}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Service Enable:</span>
                                        <span class="col-sm-8">{{groceryShoping.service_enable}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Service Type Id:</span>
                                        <span class="col-sm-8">{{groceryShoping.service_type_id}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Created At:</span>
                                        <span class="col-sm-8">{{groceryShoping.created_at.substring(0, 10)}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="col-sm-4">Last Updated :</span>
                                        <span class="col-sm-8">{{(groceryShoping.last_updated) ? groceryShoping.last_updated.substring(0, 10) : '-' }}</span>
                                    </div>
                                </div>
                            </div>
                            <ng-template #showmMsg><br>No RX Pickup Profile Found!</ng-template>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
-->
